@model User

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="User" asp-action="Index" class="navbar-brand" style="font-size: 25px;"><img src="~/images/weddingplannerlogo.png" alt="Wedding Planner Logo" style="width: 37.5px; height: 35px; display: inline-block; margin-top: -7.5px;"/><h2>Wedding Planner</h2></a>
            @if(ViewBag.IsLoggedIn != false)
            {
                <ul class="nav navbar-nav">
                    <li><a asp-controller="User" asp-action="Index" class="navbar-brand" style="margin-left: -15px; font-size: 16px; padding-top: 25px;"><h4>Dashboard</h4></a></li>
                    <li><a asp-controller="Wedding" asp-action="NewWedding" class="navbar-brand" style="margin-left: -17.5px; font-size: 16px; padding-top: 25px;"><h4>Create A Wedding</h4></a></li>
                    <li><a asp-controller="User" asp-action="Logout" class="navbar-brand" style="margin-left: -17.5px; font-size: 16px; padding-top: 25px;"><h4>Log-Out</h4></a></li>
                </ul>
            }
        </div>
    </div>
</nav>

<br><br><br>