@model Wedding

<h1 style="text-align: center; text-decoration-line:underline; font-weight: bolder;">So....Is Somebody 'Tying The Knot'?</h1>
<br>
<form asp-action="btAddWed" asp-controller="Wedding" method="POST" class="form-horizontal needs-validation" novalidate style="margin-left: 17.5%">
    <div class="form-group" style="margin-bottom: 1%;">
        <div class="col-sm-5">
            <label asp-for="WedderOneFirstName"></label>
            <input type="text" class="form-control" asp-for="WedderOneFirstName" placeholder="Jane">
            <span asp-validation-for="WedderOneFirstName" style="color: red"></span>
        </div>
        <div class="col-sm-5">
            <label asp-for="WedderOneLastName"></label>
            <input type="text" class="form-control" asp-for="WedderOneLastName" placeholder="Doe">
            <span asp-validation-for="WedderOneLastName" style="color: red"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 4%;">
        <div class="col-sm-5">
            <label asp-for="WedderTwoFirstName"></label>
            <input type="text" class="form-control" asp-for="WedderTwoFirstName" placeholder="John">
            <span asp-validation-for="WedderTwoFirstName" style="color: red"></span>
        </div>
        <div class="col-sm-5">
            <label asp-for="WedderTwoLastName"></label>
            <input type="text" class="form-control" asp-for="WedderTwoLastName" placeholder="Doe">
            <span asp-validation-for="WedderTwoLastName" style="color: red"></span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 1%;">
        <div class="col-sm-5">
            <label asp-for="WeddingStreetAddress"></label>
            <input type="text" class="form-control" asp-for="WeddingStreetAddress" placeholder="1234 Memory Lane">
            <span asp-validation-for="WeddingStreetAddress" style="color: red"></span>
        </div>
        <div class="col-sm-5">
            <label asp-for="WeddingCity"></label>
            <input type="text" class="form-control" asp-for="WeddingCity" placeholder="Chicago">
            <span asp-validation-for="WeddingCity" style="color: red"></span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 4%;">
        <div class="col-sm-5">
            <label asp-for="WeddingState"></label>
            <select type="text" class="form-control" asp-for="WeddingState">
                <option value="">Select State</option>
                <option value="AL">Alabama (AL)</option>
                <option value="AK">Alaska (AK)</option>
                <option value="AZ">Arizona (AZ)</option>
                <option value="AR">Arkansas (AR)</option>
                <option value="CA">California (CA)</option>
                <option value="CO">Colorado (CO)</option>
                <option value="CT">Connecticut (CT)</option>
                <option value="DC">District of Columbia (DC)</option>
                <option value="DE">Delaware (DE)</option>
                <option value="FL">Florida (FL)</option>
                <option value="GA">Georgia (GA)</option>
                <option value="HI">Hawaii (HI)</option>
                <option value="ID">Idaho (ID)</option>
                <option value="IL">Illinois (IL)</option>
                <option value="IN">Indiana (IN)</option>
                <option value="IA">Iowa (IA)</option>
                <option value="KS">Kansas (KS)</option>
                <option value="KY">Kentucky (KY)</option>
                <option value="LA">Louisiana (LA)</option>
                <option value="ME">Maine (ME)</option>
                <option value="MD">Maryland (MD)</option>
                <option value="MA">Massachusetts (MA)</option>
                <option value="MI">Michigan (MI)</option>
                <option value="MN">Minnesota (MN)</option>
                <option value="MS">Mississippi (MS)</option>
                <option value="MO">Missouri (MO)</option>
                <option value="MT">Montana (MT)</option>
                <option value="NE">Nebraska (NE)</option>
                <option value="NV">Nevada (NV)</option>
                <option value="NH">New Hampshire (NH)</option>
                <option value="NJ">New Jersey (NJ)</option>
                <option value="NM">New Mexico (NM)</option>
                <option value="NY">New York (NY)</option>
                <option value="NC">North Carolina (NC)</option>
                <option value="ND">North Dakota (ND)</option>
                <option value="OH">Ohio (OH)</option>
                <option value="OK">Oklahoma (OK)</option>
                <option value="OR">Oregon (OR)</option>
                <option value="PA">Pennsylvania (PA)</option>
                <option value="RI">Rhode Island (RI)</option>
                <option value="SC">South Carolina (SC)</option>
                <option value="SD">South Dakota (SD)</option>
                <option value="TN">Tennessee (TN)</option>
                <option value="TX">Texas (TX)</option>
                <option value="UT">Utah (UT)</option>
                <option value="VT">Vermont (VT)</option>
                <option value="VA">Virginia (VA)</option>
                <option value="WA">Washington (WA)</option>
                <option value="WV">West Virginia (WV)</option>
                <option value="WI">Wisconsin (WI)</option>
                <option value="WY">Wyoming (WY)</option>
            </select>
            <span asp-validation-for="WeddingState" style="color: red"></span>
        </div>
        <div class="col-sm-5">
            <label asp-for="WeddingZipcode"></label>
            <input type="text" class="form-control" asp-for="WeddingZipcode" placeholder="12345">
            <span asp-validation-for="WeddingZipcode" style="color: red"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3" style="margin-left: 28%">
            <label asp-for="WeddingDate"></label>
            <input type="datetime-local" class="form-control" asp-for="WeddingDate" placeholder="mm/dd/yyyy 00:00 AM/PM">
            <span asp-validation-for="WeddingDate" style="color: red"></span>
        </div>
    </div>
    <div class="form-group" style="margin-top: -5%">
        <div class="col-sm-10">
            <br>
            <input asp-for="UserId" type="hidden" value="@ViewBag.Userid">
            <input type="submit" class="btn btn-primary" value="Create Wedding" style="width:250px; font-size:23px; margin-left: 32.5%">
        </div>
    </div>
</form>
<script>
    $( ".selector" ).datepicker({
     minDate: new Date(),
     changeYear: true
});
</script>